@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Calendar</h1>
    <p><a href="https://github.com/michalBibel/Calendar" class="btn btn-primary btn-lg">Go to project repository &raquo;</a>
    </p>
</div>
